Repository SinLess-Games-LLC/Helix-AI, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/apps, area/ai, area/libs, area/docker, area/.github, area/workflows, area/package.json, area/requirements.txt, app/frontend, app/auth-server, app/discord-bot, app/helix, language/typescript, language/javascript, language/go, language/python

feat(scripts): add auto-commit functionality in auto-commit.sh
  scripts/auto-commit.sh
Labels: none

null
  .commitlintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/auth-server/src/main.ts
  apps/auto-commiter/.eslintrc.json
  apps/auto-commiter/jest.config.ts
  apps/auto-commiter/project.json
  apps/auto-commiter/src/assets/.gitkeep
  apps/auto-commiter/src/main.ts
  apps/auto-commiter/tsconfig.app.json
  apps/auto-commiter/tsconfig.json
  apps/auto-commiter/tsconfig.spec.json
  apps/user-interface/frontend/src/middleware/logger.ts
  apps/vs-code-exts/DevSecOps-Dashboard-e2e/jest.config.ts
  apps/vs-code-exts/DevSecOps-Dashboard-e2e/project.json
  apps/vs-code-exts/DevSecOps-Dashboard-e2e/src/dev-sec-ops-dashboard/dev-sec-ops-dashboard.spec.ts
  apps/vs-code-exts/DevSecOps-Dashboard-e2e/src/test-setup.ts
  apps/vs-code-exts/DevSecOps-Dashboard-e2e/tsconfig.spec.json
  apps/vs-code-exts/DevSecOps-Dashboard/.eslintrc.json
  apps/vs-code-exts/DevSecOps-Dashboard/package.json
  apps/vs-code-exts/DevSecOps-Dashboard/src/Logger.ts
  apps/vs-code-exts/DevSecOps-Dashboard/src/main.ts
  apps/vs-code-exts/DevSecOps-Dashboard/tsconfig.json
  libs/shared/logger/src/Logger/logger.ts
  nx.json
  scripts/auto-commit.js
  scripts/auto-commit.sh
  tsconfig.base.json
Labels: area/apps, area/libs, area/package.json, app/frontend, app/auth-server, language/typescript, language/javascript

null
  .vscode/launch.json
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript

null
  .commitlintrc.js
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript, language/javascript

null
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript

null
  apps/auto-commiter/src/main.ts
  apps/auto-commiter/tsconfig.json
Labels: area/apps, language/typescript

null
  apps/auto-commiter/fetch-commit-message.ts
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript

null
  .vscode/settings.json
  apps/auto-commiter/fetch-commit-message.ts
  apps/auto-commiter/src/fetch-commit-message.ts
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript

null
  apps/auto-commiter/src/fetch-commit-message.ts
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript

null
  apps/auto-commiter/src/fetch-commit-message.ts
Labels: area/apps, language/typescript

null
  apps/auto-commiter/src/Logger.ts
  apps/auto-commiter/src/fetch-commit-message.ts
  apps/auto-commiter/src/main.ts
Labels: area/apps, language/typescript

null
  apps/auto-commiter/src/Logger.ts
  apps/auto-commiter/src/main.ts
  apps/auto-commiter/tsconfig.app.json
Labels: area/apps, language/typescript

.github/labeler.yaml:

# This file is used to define the labels for the PRs based on the changed files in the PR

#
# Area specific labels'
#
area/docs:
  - changed-files:
      - any-glob-to-any-file: [docs/**/*]

area/apps:
  - changed-files:
      - any-glob-to-any-file: [apps/**/*]

area/ai:
  - changed-files:
      - any-glob-to-any-file: [apps/ai/**/*]

area/libs:
  - changed-files:
      - any-glob-to-any-file: [libs/**/*]

area/docker:
  - changed-files:
      - any-glob-to-any-file: [docker/**/*]

# GitHub Actions
area/.github:
  - changed-files:
      - any-glob-to-any-file: [.github/**/*]

area/workflows:
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**/*]

# Dependencies
area/package.json:
  - changed-files:
      - any-glob-to-any-file: [package.json, '**/package.json']

area/requirements.txt:
  - changed-files:
      - any-glob-to-any-file: [requirements.txt, '**/requirements.txt']

# Applications
app/frontend:
  - changed-files:
      - any-glob-to-any-file: [apps/user-interface/frontend/**/*]

app/auth-server:
  - changed-files:
      - any-glob-to-any-file: [apps/api/auth-server/**/*]

app/discord-bot:
  - changed-files:
      - any-glob-to-any-file: [apps/api/discord-bot/**/*]

app/helix:
  - changed-files:
      - any-glob-to-any-file: [apps/ai/helix/**/*]



#
# Language specific labels
#
language/typescript:
  - changed-files:
      - any-glob-to-any-file: ['**/*.ts', '**/*.tsx']

language/javascript:
  - changed-files:
      - any-glob-to-any-file: ['**/*.js', '**/*.jsx']

language/go:
  - changed-files:
      - any-glob-to-any-file: ['**/*.go']

language/python:
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']
