Repository SinLess-Games-LLC/Helix-AI, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/apps, area/frontend, area/libs, area/.github, area/workflows, area/package.json, area/requirments.txt, language/typescript, language/javascript, language/go, language/python

.github/labeler.yaml:

# This file is used to define the labels for the PRs based on the changed files in the PR

#
# Area specific labels'
#
area/docs:
  - changed-files:
      - any-glob-to-any-file: [docs/**/*]

area/apps:
  - changed-files:
      - any-glob-to-any-file: [apps/**/*]

area/frontend:
  - changed-files:
      - any-glob-to-any-file: [apps/frontend/**/*]

area/libs:
  - changed-files:
      - any-glob-to-any-file: [libs/**/*]

area/.github:
  - changed-files:
      - any-glob-to-any-file: [.github/**/*]

area/workflows:
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**/*]

area/package.json:
  - changed-files:
      - any-glob-to-any-file: [package.json, "**/package.json"]

area/requirments.txt:
  - changed-files:
      - any-glob-to-any-file: [requirments.txt, "**/requirments.txt"]

#
# Language specific labels
#
language/typescript:
  - changed-files:
      - any-glob-to-any-file: ["**/*.ts", "**/*.tsx"]

language/javascript:
  - changed-files:
      - any-glob-to-any-file: ["**/*.js", "**/*.jsx"]

language/go:
  - changed-files:
      - any-glob-to-any-file: ["**/*.go"]

language/python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

chore: Update nx-workflow.yml
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update branch names in GitHub workflow files
  .github/workflows/code-ql-JsTs.yaml
  .github/workflows/labeler.yaml
  .github/workflows/nx-workflow.yml
  .github/workflows/pr.yaml
Labels: area/.github, area/workflows

chore: Remove NX_CLOUD_TOKEN from environment variables
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/nx-workflow.yml
Labels: area/.github, area/workflows

chore: Update nx-workflow.yml to include base branch in affected command
  .github/workflows/code-ql-JsTs.yaml
  .github/workflows/labeler.yaml
  .github/workflows/nx-workflow.yml
  .github/workflows/pr.yaml
Labels: area/.github, area/workflows

chore: Update workflows to only trigger on the develop branch
  .github/workflows/code-ql-JsTs.yaml
  .github/workflows/label-sync.yaml
Labels: area/.github, area/workflows

chore: Update workflows and dependencies to latest versions
  .github/workflows/code-ql-JsTs.yaml
  .github/workflows/label-sync.yaml
Labels: area/.github, area/workflows

chore: Update workflows and dependencies to latest versions
  .github/workflows/code-ql-JsTs.yaml
Labels: area/.github, area/workflows

chore: Add web-crawler module to API project
  apps/api/web-crawler/go.mod
  apps/api/web-crawler/main.go
  apps/api/web-crawler/main_test.go
  apps/api/web-crawler/project.json
  go.work
Labels: area/apps, language/go

chore: Remove CodeQL workflow for JavaScript and TypeScript
  .github/codeql/go.yaml
  .github/codeql/javascript-typescript.yaml
  .github/codeql/python.yaml
  .github/workflows/code-ql-JsTs.yaml
Labels: area/.github, area/workflows

chore: Update go.mod with toolchain version
  apps/api/web-crawler/go.mod
Labels: area/apps

chore: Update go.mod with toolchain version
  apps/api/web-crawler/go.mod
Labels: area/apps

chore: Update go.mod with toolchain and dependency versions
  apps/api/web-crawler/go.mod
  apps/api/web-crawler/go.sum
  go.work
Labels: area/apps

chore: Remove web-crawler module from API project
  apps/api/web-crawler/go.mod
  apps/api/web-crawler/go.sum
  apps/api/web-crawler/main.go
  apps/api/web-crawler/main_test.go
  apps/api/web-crawler/project.json
  go.work
Labels: area/apps, language/go

chore: Delete apps/api/web-crawler directory
  apps/api/web-crawler/go.mod
  apps/api/web-crawler/main.go
  apps/api/web-crawler/main_test.go
  apps/api/web-crawler/project.json
Labels: area/apps, language/go

chore: Delete go.work
  go.work
Labels: none

fix: docker/Ecosystem/Setup/Dockerfile to reduce vulnerabilities
  docker/Ecosystem/Setup/Dockerfile
Labels: none

fix: upgrade reflect-metadata from 0.1.14 to 0.2.2
  package-lock.json
  package.json
Labels: area/package.json

fix: upgrade next from 14.2.3 to 14.2.5
  package-lock.json
  package.json
Labels: area/package.json

chore: Update shared UI package with new Background component
  apps/user-interface/frontend/.eslintrc.json
  apps/user-interface/frontend/public/images/Background.png
  apps/user-interface/frontend/public/images/Favicon-01.jpg
  apps/user-interface/frontend/public/images/Favicon-01.png
  apps/user-interface/frontend/public/images/Helix-AI.svg
  apps/user-interface/frontend/public/images/Logo.png
  apps/user-interface/frontend/public/images/favicon.ico
  apps/user-interface/frontend/public/images/next.svg
  apps/user-interface/frontend/src/app/layout.tsx
  apps/user-interface/frontend/src/app/page.tsx
  apps/user-interface/frontend/tsconfig.json
  apps/workers/.gitkeep
  jest.config.ts
  libs/shared/core/.eslintrc.json
  libs/shared/core/src/colors.ts
  libs/shared/core/src/colors.type.d.ts
  libs/shared/core/src/colors.type.ts
  libs/shared/core/tsconfig.json
  libs/shared/ui/.babelrc
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/README.md
  libs/shared/ui/jest.config.ts
  libs/shared/ui/package.json
  libs/shared/ui/project.json
  libs/shared/ui/rollup.config.js
  libs/shared/ui/src/Background/Image.tsx
  libs/shared/ui/src/Background/index.ts
  libs/shared/ui/src/Header/header.scss
  libs/shared/ui/src/Header/header.tsx
  libs/shared/ui/src/Header/header.types.ts
  libs/shared/ui/src/index.ts
  libs/shared/ui/tsconfig.json
  libs/shared/ui/tsconfig.lib.json
  libs/shared/ui/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Labels: area/apps, area/libs, area/package.json, language/typescript, language/javascript

chore: Add setup and teardown scripts for npm, python, and docker
  package.json
Labels: area/package.json

chore: Update shared UI package with new Background component
  .verdaccio/config.yml
  apps/api/auth-server/src/main.ts
  apps/api/auth-server/tsconfig.app.json
  apps/api/auth-server/tsconfig.json
  apps/user-interface/frontend/next-env.d.ts
  apps/user-interface/frontend/next.config.js
  apps/user-interface/frontend/project.json
  apps/user-interface/frontend/public/favicon.ico
  apps/user-interface/frontend/public/images/favicon.ico
  apps/user-interface/frontend/src/app/layout.tsx
  apps/user-interface/frontend/src/app/page.tsx
  apps/user-interface/frontend/tsconfig.json
  libs/shared/core/project.json
  libs/shared/core/src/Errors/error.type.ts
  libs/shared/core/src/Errors/errors.ts
  libs/shared/database/project.json
  libs/shared/logger/project.json
  libs/shared/ui/rollup.config.js
  libs/shared/ui/src/Background/Image.tsx
  libs/shared/ui/src/Header/header.scss
  libs/shared/ui/src/Header/header.tsx
  libs/shared/ui/src/Header/header.types.ts
  libs/shared/ui/src/Header/index.ts
  libs/shared/ui/src/index.ts
  package-lock.json
  package.json
Labels: area/apps, area/libs, area/package.json, language/typescript, language/javascript
